body{
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
}

.fadeIn {
    opacity: 0;
    transition: opacity;
    -webkit-transition: opacity;
    -o-transition: opacity;
    -moz-transition: opacity;
}

.background {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:#55534C;
    transition: background-color;
    -webkit-transition: background-color;
    -o-transition: background-color;
    -moz-transition: background-color;
}

.backgroundTravelling {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:#55534C;
    z-index: -2;
    position: fixed;
    transition: background-color;
    -webkit-transition: background-color;
    -o-transition: background-color;
    -moz-transition: background-color;
}

canvas {
    width: auto;
    height: 100vh;
    max-width: 100vw;
    background: #000000;
}

.headerText{
    color: #9D8360;
    margin-left: 0px;
}

.bodyText{
    color: #37487C;
    margin-right: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #b0b0b0; 
}

::-webkit-scrollbar-thumb {
    background: #9d8360ae; 
}

::-webkit-scrollbar-thumb:hover {
    background: #9D8360; 
}

.Btn {
    width: 90px;
    height: 90px;
    background: #9D8360;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    visibility: hidden;
}

.arrow path {
    fill: #CDCBC4;
}

.Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  