body {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    text-align: center;
    overflow: hidden;
    background-color:#121212;
}

canvas {
    width: auto;
    height: 100vh;
    max-width: 100vw;
    background: #000000;
}